body{
    margin: 0;
}
main{
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #1f1f1f;
}
h1{
    position: relative;
    display: inline-block;
    margin: 0;
    top: 90px;
    left: 40%;
    color: white;
    font-family: 'Poppins', sans-serif;
}
#content{
    position: relative;
    display: inline-flex;
    top: 300px;
    left: 75px;
    width: 55%;
    height: 80px;
    flex-direction: row;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}
#content>section{
    position: relative;
    display: inline-flex;
    height: 100%;
    width: 100%;
}
.block{
    border-radius: 10%;
    margin: 10px;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    background-color: #FFFFFF;
}
#btnStart{
    position: relative;
    background: white;
    font-weight: bold;
    font-size: 20px;
    width: 100px;
    height: 35px;
    top: 55%;
    right: 32%
}
#btnStop{
    position: relative;
    background: white;
    font-weight: bold;
    font-size: 20px;
    width: 100px;
    height: 35px;
    top: 55%;
    right: 27%
}
#b2{
    background-color: #ff0707;
}
#b3{
    background-color: #d00202;
}
#b4{
    background-color: #aa0404;
}
#b5{
    background-color: #d00202;
}
#b6{
    background-color: #ff0707;
}